<div class="big-boy">
  <div class="vertical">
    <div class="horizontal">
      <ngx-dropzone
        *ngIf="!rendering && !rendered"
        class="drop-image-here"
        (change)="onSelect($event)"
      >
        <ngx-dropzone-label>
          Drop an image here to Emojify™
          <br />
          <mat-icon>cloud_upload</mat-icon>
        </ngx-dropzone-label>
      </ngx-dropzone>

      <div *ngIf="rendering" class="drop-image-here">Rendering...</div>
    </div>
  </div>
</div>

<canvas id="rendered-image" width="1000" height="1000"></canvas>
<img id="image" />
<canvas id="canvas" width="50" height="50"></canvas>

<app-all-the-svgs></app-all-the-svgs>
